/* Name: Kay Nae Oo
Date: 9/7/2026 */
nav ul {
    background-color: rgb(175,175,175);
}
nav ul li:hover {
    background-color: blueviolet;
    border-radius: 5px;
    list-style-type: none;
}
nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,255,0);
}
